body {
  background-color: black;
  color: seashell;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

main {
  margin: auto;
  max-width: 1200px;
  padding-top: 70px;
}

#mission {
  background-image: url("img-mission-background.webp");
  height: 700px;
}

#mission .content {
  background-color: black;
  margin: auto;
  width: 100%;
}

#featured {
  margin: auto;
  max-width: 1000px;
  padding: 70px 0;
}

.feature {
  padding: 5px;
}

.feature img {
  display: block;
  height: 200px;
  margin: 10px;
  width: 300px;
}

.feature span {
  display: block;
  font-weight: bold;
  padding: 5px;
}

#locations {
  background-image: url("img-locations-background.webp");
  min-height: 500px;
  padding-top: 70px;
}

#locations .flex-container {
  margin: auto;
  max-width: 1100px;
}

.location {
  background-color: black;
  margin: 15px 20px;
  padding: 10px;
  width: 280px;
}

#contact {
  height: 200px;
}

footer {
  padding-left: 20px;
  text-align: left;
}